body{
    background-color: #7ec0ee;
}
h1{
    color: #0798a3;
}
p1{
    color: red;
}
#flex1 {
    display: flex;
    justify-content: space-between;
}
#flex {
    display: flex;
    justify-content: center;
}
h2{
    color: 000000;
}
p{
    color : 000000;
}
header{
    background-color: 363636;
}
h3{
    color: #ee7942;
}
h3{
  text-align: end;
}

nav{
    color: #7ec0ee ;
}
nav{
    font-weight: 900;
    font-size: large;
}